<%= link_to 'Nuevo', new_product_path, class: 'btn-default'  %>

<div class="panel panel-default">
  <div class="panel-heading">Panel heading</div>
   <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>price</th>
      </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product) %></td>
        <td><%= product.description  %></td>
        <td><%= product.price  %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
